{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <p class="lead">TACOS is the mobile application by <a href="https://www.cases.lu">CASES.LU</a>
            and stands for <em>TrustApp Cases for Obvious Security</em>.</p>
            <p class="lead">TACOS provides a spam detection feature. It allows you to check for spam phone
            numbers. You can also contribute to our database by reporting spam phone numbers.</p>
            <p class="lead">Besides that, TACOS is also an awareness application for cybersecurity.
            We included a password cards generator, some security and privacy awareness games.</p>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-md-6 text-center">
            <h5>{{ _('Download the application for Android') }}</h5>
            <div class="text-center">
                <a href="https://play.google.com/store/apps/details?id=lu.cases.tacos&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                    <img class="img-fluid" alt="Get it on Google Play" src="{{ url_for('static', filename='img/en_badge_web_generic.png') }}" width="250px" title="Available soon!" />
                </a>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h5>{{ _('Download the application for iOS') }}</h5>
            <div class="text-center">
                <a href="#">
                    <img class="img-fluid" alt="Get it on Apple Store" src="{{ url_for('static', filename='img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg') }}" width="250px" title="Available soon!" />
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <p>TACOS is licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License version 3</a>.<br />
            You are welcome to copy, modify or redistribute the <a href="https://github.com/CASES-LU/TACOS">source code</a> according to this license.</p>
        </div>
    </div>
    <br /><br /><br />
    <div class="row">
        <div class="col text-center">
            <h4 id="features">Features</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Detect and report spam phone numbers</li>
                <li class="list-group-item">Generate and manage password cards</li>
                <li class="list-group-item">Security and privacy awareness games</li>
                <li class="list-group-item">Tips and Tricks</li>
                <li class="list-group-item">Security news curated by the CASES team</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <p>Our database of spam phone numbers is constantly updated thanks
                to the <a href="https://misp-project.org">MISP project</a> and
                the users of TACOS.</p>
        </div>
    </div>
    <br /><br /><br />
    <div class="row">
        <div class="col text-center">
            <h4 id="screen-shots">Screen shots</h4>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="android-tab" data-toggle="tab" href="#android" role="tab" aria-controls="android" aria-selected="true">Android</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ios-tab" data-toggle="tab" href="#ios" role="tab" aria-controls="ios" aria-selected="false">iOS</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="android" role="tabpanel" aria-labelledby="android-tab">
          <div class="row">
              <div class="col-md-3">
                  <img class="img-fluid" src="{{ url_for('static', filename='img/home.png') }}" />
              </div>
              <div class="col-md-3">
                  <img class="img-fluid" src="{{ url_for('static', filename='img/menu.png') }}" />
              </div>
              <div class="col-md-3">
                  <img class="img-fluid" src="{{ url_for('static', filename='img/games.png') }}" />
              </div>
              <div class="col-md-3">
                  <img class="img-fluid" src="{{ url_for('static', filename='img/password-card.png') }}" />
              </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  <img class="img-fluid" src="{{ url_for('static', filename='img/spam-list.png') }}" />
              </div>
              <div class="col-md-3">
                  <img class="img-fluid" src="{{ url_for('static', filename='img/spam-report.png') }}" />
              </div>
          </div>
      </div>
      <div class="tab-pane fade" id="ios" role="tabpanel" aria-labelledby="ios-tab">
      </div>
    </div>

    <br /><br /><br />
    <div class="row">
        <div class="col text-center">
            <h4 id="documentation">Documentation</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead"><a href="https://tacos-server.readthedocs.io">Documentation</a> of the back-end services of the mobile app.</p>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
