{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <p class="lead">[logo]</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead">TACOS description ...</p>
        </div>
    </div>
    <br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-6">
            <h4>{{ _('Download the application for Android') }}</h4>
            <a href='https://play.google.com/store/apps/details?id=lu.cases.tacos&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="50%" />
            </a>
        </div>
        <div class="col-md-6">
            <h4>{{ _('Download the application for iOS') }}</h4>

        </div>
    </div>
    <br /><br /><br /><br /><br />
    <div class="row">
        <div class="col">
            <p class="lead">TACOS is open source, get the code.</p>
        </div>
    </div>
</div><!-- /.container -->

{% endblock %}
