<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="TACOS by CASES.LU" />
    <link rel="author" type="text/plain"  href="{{ url_for('human')  }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" />
    {% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='npm_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='npm_components/bootstrap-select/dist/css/bootstrap-select.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='npm_components/@fortawesome/fontawesome-free/css/all.min.css') }}">
    {% endblock %}
    <script src="{{ url_for('static', filename='npm_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='npm_components/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
    <title>TACOS by CASES.LU</title>
    {% endblock %}
</head>
{% block page_body %}
<body>
    {% block main_menu %}
    <nav class="navbar navbar-expand-md navbar-dark bg-MOSP-blue">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/logo-web-cases.lu-white.png') }}"
                            alt="TACOS by CASES.LU - Cyberworld Awareness and Security Enhancements Services"
                            title="TACOS by CASES.LU - Cyberworld Awareness and Security Enhancements Services" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto text-center text-bold" href="#"><span class="mb-0 h1">TACOS</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('documentation') }}">{{ _('Documentation') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('privacy') }}">{{ _('Privacy policy') }}</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
<div class="container alert-message">
{% block messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <br />
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
</div>
<br />
{% block content %}{% endblock %}
<br />
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('privacy') }}">{{ _('Privacy policy') }}</a>
                &nbsp;&nbsp;
                <a href="{{ url_for('documentation') }}">{{ _('Documentation') }}</a>
                &nbsp;&nbsp;
                <a href="https://github.com/CASES-LU/TACOS-server">Source code</a>
            </div>
        </div>
    </div>
</footer>
</body>
{% endblock %}
</html>
